streamlit
pandas
requests
cloudscraper
beautifulsoup4
moviepy
playwright
facebook-sdk
streamlit-autorefresh
google-auth
feedparser
google-api-python-client
beautifulsoup4
requests
understat
soccerdata
